*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #edede9;
       overflow-y: scroll;
    overflow-x: hidden;
}

.container{
    max-width: 100%;
    margin:auto; 
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: white;
}

header,
header:before {
    background: 50% 50% / cover;
}

header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(aa.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

nav > a{
    display: none;
}

nav{
    background-color: #10a8a4;
    position: sticky;
    top:0;
    opacity: 0.8;
}

nav div{
    background-color:#10a8a4;
    display: flex;
    justify-content: space-around;
}

nav a:any-link{
    color:white;
    padding: 15px 20px;
    text-decoration: none;
}

nav a:hover{
    color: black;
    background-color: rgb(255, 255, 255);
}

nav li{
    list-style-type: none; 
    text-align: right;
    padding:20px;
    display:none; 
    
}

nav li:first-child{
    display: block;
}

nav:hover li{
    display:block;
}


img{
    max-width: 100%;
}

.row{
    display: flex;
}

aside{
    flex-basis: 30%;
    background-color: #f1f1f1;
    padding:40px;
    text-align: center;
}
 p:not(header p){
    text-align: justify;
    line-height: 160%;
}

hr{
    border:1px solid #bcb8b1;
    margin:50px 0
}

main{
    flex-basis: 100%;
    background-color: white;
    padding:40px;
}

main img{
    float: left;
    margin: 0 25px 25px 0;
}


footer{
    padding:40px;
    text-align: center;
    color: white;
    background-color: #10a8a4;
    opacity: 0.8;
}

.caixa {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	border: 1px solid #ccc;
	padding: 10px;
}

@media screen and (max-width:650px) {
    .row{
        flex-direction: column-reverse;
    }

    nav > a{
        display: block;
        text-align: right;
        font-weight: bold;
    }

    nav div{
        flex-direction: column;
        text-align: right;
        transform: translateX(-100%);
        width:100%;
        position: absolute;
        transition: transform 1s;
    }

    #nav:target div{
        transform: translateX(0);
    }

    #nav:target > a{
        display: none;
    }

    #nav:target #close{
        display: block;
    }

}

@media all and (min-width:1024px){


    nav li, nav:hover li{
        display: inline-block;
    }

    nav{
        text-align: right;
        padding-right: 20px;
    }

    nav li:first-child{
        display:none;
    }
}



